In [115]:
import pandas as pd
import matplotlib

In [116]:
data = pd.read_csv('data/train_data/train_task_3_4.csv')
print(len(data))
data.head()

1382727

   QuestionId  UserId  AnswerId  IsCorrect  CorrectAnswer  AnswerValue
0         898    2111    280203          1              2            2
1         767    3062     55638          1              3            3
2         165    1156    386475          1              2            2
3         490    1653    997498          1              4            4
4         298    3912    578636          1              3            3

In [117]:
# calc percent of correct for each question
correct_ratio=[]
for k,df in data.groupby('QuestionId'):
    correct_ratio.append((k, len(df), df['IsCorrect'].mean(), df['IsCorrect'].sem()))
for k,cnt,ratio,stdm in correct_ratio[:5]:
    print(k,cnt,ratio,stdm)

0 2812 0.44345661450924606 0.00937010933612387
1 14 0.5714285714285714 0.13725270326150324
2 2313 0.3852140077821012 0.01012089927190456
3 2672 0.8087574850299402 0.007609645680958906
4 1704 0.4014084507042254 0.011878216105763999

In [118]:
# Estimate Quality
answer_metadata = pd.read_csv('data/metadata/answer_metadata_task_3_4.csv')
data=data.merge(answer_metadata, on="AnswerId", how="left")
data

,QuestionId,UserId,AnswerId,IsCorrect,CorrectAnswer,AnswerValue,DateAnswered,Confidence,GroupId,QuizId,SchemeOfWorkId
0,898,2111,280203,1,2,2,2019-12-08 17:47:00.000,NaN,95,86,52562.0
1,767,3062,55638,1,3,3,2019-10-27 20:54:00.000,25.0,115,39,52562.0
2,165,1156,386475,1,2,2,2019-10-06 20:16:00.000,NaN,101,39,52562.0
3,490,1653,997498,1,4,4,2020-02-27 17:40:00.000,NaN,46,115,52562.0
4,298,3912,578636,1,3,3,2019-12-27 16:07:00.000,NaN,314,78,52562.0
...,...,...,...,...,...,...,...,...,...,...,...
1382722,80,2608,57945,1,2,2,2019-11-28 15:22:00.000,NaN,270,65,52562.0
1382723,707,2549,584230,0,2,1,2020-01-06 16:26:00.000,NaN,269,109,52562.0
1382724,840,5901,1138956,1,1,1,2020-01-07 07:14:00.000,NaN,270,66,52562.0
1382725,794,3854,1151183,0,1,3,2019-12-15 16:32:00.000,NaN,339,9,52562.0
1382726,157,3184,1321883,1,3,3,2020-01-07 10:02:00.000,NaN,27,66,52562.0

In [119]:
data=data.dropna(subset=["Confidence"])
data

,QuestionId,UserId,AnswerId,IsCorrect,CorrectAnswer,AnswerValue,DateAnswered,Confidence,GroupId,QuizId,SchemeOfWorkId
1,767,3062,55638,1,3,3,2019-10-27 20:54:00.000,25.0,115,39,52562.0
6,932,3923,6545,0,4,3,2019-10-02 16:20:00.000,25.0,112,57,52562.0
12,405,1506,1268566,1,2,2,2019-12-19 18:24:00.000,100.0,210,64,52562.0
13,78,944,85177,1,3,3,2020-01-27 16:50:00.000,100.0,53,30,NaN
16,11,5482,648990,0,2,3,2019-11-24 16:20:00.000,50.0,95,109,52562.0
...,...,...,...,...,...,...,...,...,...,...,...
1382705,222,1048,185768,0,4,3,2019-10-08 16:21:00.000,50.0,260,18,52562.0
1382707,596,5579,387573,0,2,1,2019-10-23 13:39:00.000,25.0,288,32,52562.0
1382709,276,2213,884965,0,4,3,2019-11-26 20:16:00.000,25.0,360,62,52562.0
1382712,300,4605,802606,0,4,3,2019-12-01 18:24:00.000,100.0,24,25,52562.0
1382718,658,579,1455920,0,1,4,2019-11-27 10:25:00.000,25.0,315,9,52562.0

In [120]:
data=data.groupby("QuestionId")[["Confidence"]].mean().sort_values("Confidence",ascending=False).reset_index()
data

     QuestionId  Confidence
0           315  100.000000
1           940   95.000000
2           562   94.444444
3           924   93.435155
4           422   92.968750
..          ...         ...
899         273   47.286822
900         532   47.115385
901         932   45.764192
902         775   45.000000
903         548   25.000000

[904 rows x 2 columns]

In [121]:
eval_validation = pd.read_csv('data/test_data/quality_response_remapped_public.csv')
print(len(eval_validation))
eval_validation.head()

25

   Unnamed: 0.1  Unnamed: 0  left  right  T1_ALR  T2_CL  T3_GF  T4_MQ  T5_NS
0             0           0   909    318       2      2      2    1.0      2
1            16          16   285    609       2      2      2    2.0      2
2            48          48   132    271       1      2      2    2.0      1
3            38          38   704    127       2      2      1    2.0      2
4            33          33    16    586       1      1      2    2.0      2

In [122]:
eval_test = pd.read_csv('data/test_data/quality_response_remapped_private.csv')
print(len(eval_test))
eval_test.head()

25

   Unnamed: 0.1  Unnamed: 0  left  right  T1_ALR  T2_CL  T3_GF  T4_MQ  T5_NS
0            15          15   145    762       2      2      2    2.0      2
1            31          31   307    208       1      1      1    2.0      1
2            25          25   278    195       1      1      1    1.0      1
3             3           3    13    153       2      2      2    2.0      2
4            40          40    23    100       2      1      1    1.0      1

In [123]:
submission = pd.read_csv('submission/template.csv')
print(len(submission))
print(submission.head())
for idx in range(len(data)):
    tmp = data[data['QuestionId']==idx].index
    submission.loc[idx,'ranking'] = 987654321 if tmp.empty else tmp[0]
print(data[710:720])
submission.head()

948
   QuestionId  ranking
0           0      NaN
1           1      NaN
2           2      NaN
3           3      NaN
4           4      NaN
     QuestionId  Confidence
710         230   66.318328
711         506   66.298213
712           2   66.201354
713         263   66.199650
714         762   66.197183
715           0   66.176471
716         188   66.176471
717         342   66.139241
718         152   66.129032
719         542   66.095890

   QuestionId      ranking
0           0        715.0
1           1  987654321.0
2           2        712.0
3           3         93.0
4           4        841.0

In [124]:
def evaluate(truth, submission):
    QL = list(truth.left)
    QR = list(truth.right)
    if len(QL) != len(QR):
        message = 'left and right lengths are not the same'
        exit(message)

    submission_preference = []
    for idx in range(len(QL)):
        rankL = submission[submission.QuestionId==QL[idx]].ranking.values[0]
        rankR = submission[submission.QuestionId==QR[idx]].ranking.values[0]
        submission_preference.append(1 if rankL<rankR else 2)
    return sum(x==y for x,y in zip(truth["preference"],submission_preference))/len(QL)

def evaluates(truth, submission):
    return [
        evaluate(truth.rename(columns={"T1_ALR":"preference"})[["left","right","preference"]], submission),
        evaluate(truth.rename(columns={"T2_CL":"preference"})[["left","right","preference"]], submission),
        evaluate(truth.rename(columns={"T3_GF":"preference"})[["left","right","preference"]], submission),
        evaluate(truth.rename(columns={"T4_MQ":"preference"})[["left","right","preference"]], submission),
        evaluate(truth.rename(columns={"T5_NS":"preference"})[["left","right","preference"]], submission)]

In [126]:
list_vali = evaluates(eval_validation,submission)
print(max(list_vali))
print(list_vali)

0.4
[0.32, 0.36, 0.28, 0.32, 0.4]

In [127]:
list_test = evaluates(eval_test,submission)
print(max(list_test))
print(list_test)

0.44
[0.32, 0.44, 0.36, 0.32, 0.24]